.s-bar {
    border-radius: 15px;
    margin: 5px 205px 5px 0;
    border: none;
    padding: 6px 10px 6px 19px;
    width: 100%;
}

.copyright-text1 {
    color: white;
    margin-top: 315px;
    margin-left: 22px;
}

.copyright-text2 {
    color: white;
    margin-top: 336px;
    margin-left: 22px;
}

.bg-primary {
    background-color: rgba(35 88 20 / 99%)!important;
}

.heart-btn {
    background-color: rgba(35 88 20 / 99%)!important;
    border: none;
    color: #fff;
}

.s-bar:focus {
    outline: none;
}

.search-icon {
    font-size: 21px;
    color: #0d6efd;
    background: transparent;
    margin: -11px 0 0 -35px;
}

.search-icon:active {
    font-size: 18px;
}

.logo1 {
    position: absolute;
    width: 5rem;
    height: 3.5rem;
    text-align: center;
    margin: -9px 0px 0px 6px;
    display: block;
}

.badge {
    margin-left: -6px;
}

a {
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: rgba(35 88 20 / 99%)!important;
    ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.label {
    font-size: 1.1em;
    color: #fff;
    padding: 0px 12px 0px 8px;
    margin: 0 0 0px 0;
    font-weight: 300;
    float: right;
}

.fa-sign-out {
    color: #fff;
}

.fa-sign-out>p {
    color: #fff;
    font-size: large;
    padding: unset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-menu {
    min-width: max-content;
    margin: 15px 0 0 -14px;
    border: none;
    background: rgba(35 88 20 / 99%)!important;
    padding: 15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(225deg);
}

.arrow {
    position: absolute;
    border: 5px solid rgba(35 88 20 / 99%)!important;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin: -17px 0 0 16px;
}