<div class="container-xxl pt-3">
    <div class="pt-5 mt-3">
        <form [formGroup]="searchform" (ngSubmit)=fetchPlayer()>
            <table>
                <tr>
                    <td>
                        <input name="searchTerm" formControlName="searchTerm" class="s-bar" type="text" placeholder="Search Player">
                    </td>

                    <td>
                        <button>
                            <i class="fa fa-search search-icon"></i>
                        </button>
                    </td>
                    <br>
                    <br>
                    <br>

                </tr>
                <div *ngIf="!isSearchCtrlRequireValid() " class="text-dangero">
                    Enter Player Name !
                </div>

                <div *ngIf="!isSearchCtrlMinLengthValid() " class="text-dangero">
                    Min length of Player Name is 2
                </div>
            </table>
        </form>
    </div>
    <!-- <div *ngIf="!playerInfo">
        <div class="box1">
            <div *ngFor=" let play of playerData ">
                <div class="content1">
                    <div align="center">
                        <img src="{{play.playerImg}}" class="img2" alt="d">
                    </div>
                    <div class="px-2 py-2 sz">
                        <h4 align="center">{{play.name}}
                        </h4>

                        <table align="center">

                            <tr>
                                <td>COUNTRY</td>
                                <td>: {{play.country}}</td>
                            </tr>
                            <tr>
                                <td>BATTING STYLE</td>
                                <td>: {{play.battingStyle}}</td>
                            </tr>
                            <tr>
                                <td>BOWLING STYLE</td>
                                <td>: {{play.bowlingStyle}}</td>
                            </tr>
                            <tr>
                                <td>PLACE OF BIRTH</td>
                                <td>: {{play.placeOfBirth}}</td>
                            </tr>
                            <tr>
                                <td>TEST RUNS</td>
                                <td>
                                    <div *ngFor=" let iter of play.stats ">
                                        <div *ngIf="iter.fn=='batting' && iter.matchtype=='test' && iter.stat=='runs' ">
                                            : {{iter.value}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>TEST INNINGS</td>
                                <td>
                                    <div *ngFor=" let iter of play.stats ">
                                        <div *ngIf="iter.fn=='batting' && iter.matchtype=='test' && iter.stat=='inn' ">
                                            : {{iter.value}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>TEST HIGHEST</td>
                                <td>
                                    <div *ngFor=" let iter of play.stats ">
                                        <div *ngIf=" iter.matchtype=='test' && iter.stat=='hs' ">
                                            : {{iter.value}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ODI RUNS</td>
                                <td>
                                    <div *ngFor=" let iter of play.stats ">
                                        <div *ngIf="iter.fn=='batting' && iter.matchtype=='odi' && iter.stat=='runs' ">
                                            : {{iter.value}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ODI INNINGS</td>
                                <td>
                                    <div *ngFor=" let iter of play.stats ">
                                        <div *ngIf="iter.fn=='batting' && iter.matchtype=='odi' && iter.stat=='inn' ">
                                            : {{iter.value}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ODI HIGHEST</td>
                                <td>
                                    <div *ngFor=" let iter of play.stats ">
                                        <div *ngIf=" iter.matchtype=='odi' && iter.stat=='hs' ">
                                            : {{iter.value}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div align="center " class="star ">
                            <a class="btn btn-primary" (click)="addTofavourite(play)">add to favourite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="box1">
        <div *ngIf="playerInfo != undefined">

            <div class="content1">
                <div align="center">
                    <img src="{{playerInfo.imageUrl}}" class="img2" alt="d">
                </div>
                <div class="px-2 py-2 sz">
                    <h4 align="center">{{playerInfo.name}}
                    </h4>

                    <table align="center">

                        <tr>
                            <td>COUNTRY</td>
                            <td>: {{playerInfo.country}}</td>
                        </tr>
                        <tr>
                            <td>BATTING STYLE</td>
                            <td>: {{playerInfo.battingStyle}}</td>
                        </tr>
                        <tr>
                            <td>BOWLING STYLE</td>
                            <td>: {{playerInfo.bowlingStyle}}</td>
                        </tr>
                        <tr>
                            <td>PLACE OF BIRTH</td>
                            <td>: {{playerInfo.placeOfBirth}}</td>
                        </tr>
                        <tr>
                            <td>TEST RUNS</td>
                            <td>
                                <div *ngFor=" let iter of playerInfo.stats ">
                                    <div *ngIf="iter.statType=='batting' && iter.matchType=='test' && iter.statName=='runs' ">
                                        : {{iter.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>TEST INNINGS</td>
                            <td>
                                <div *ngFor=" let iter of playerInfo.stats ">
                                    <div *ngIf="iter.statType=='batting' && iter.matchType=='test' && iter.statName=='inn' ">
                                        : {{iter.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>TEST HIGHEST</td>
                            <td>
                                <div *ngFor=" let iter of playerInfo.stats ">
                                    <div *ngIf=" iter.matchType=='test' && iter.statName=='hs' ">
                                        : {{iter.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ODI RUNS</td>
                            <td>
                                <div *ngFor=" let iter of playerInfo.stats ">
                                    <div *ngIf="iter.statType=='batting' && iter.matchType=='odi' && iter.statName=='runs' ">
                                        : {{iter.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ODI INNINGS</td>
                            <td>
                                <div *ngFor=" let iter of playerInfo.stats ">
                                    <div *ngIf="iter.statType=='batting' && iter.matchType=='odi' && iter.statName=='inn' ">
                                        : {{iter.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ODI HIGHEST</td>
                            <td>
                                <div *ngFor=" let iter of playerInfo.stats ">
                                    <div *ngIf=" iter.matchType=='odi' && iter.statName=='hs' ">
                                        : {{iter.value}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div align="center " class="star ">
                        <a class="btn btn-primary" (click)="addTofavourite(playerInfo)">add to favourite</a>
                    </div>
                    <div *ngIf="errMsg">
                        <p class="text-dangero">Player Already Exist in Favorite List</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>